* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

button {
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
}

.options {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

label[for='row-size'] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label[for='row-size'] > p {
    align-self: center;
    font-size: 24px;
}

.grid {
    width: 680px;
    height: 680px;
    border: 10px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    box-sizing: border-box;
    border: 1px solid #adadad;
}
