* {
    margin: 0;
    padding: 0;
}
:root {
    --main-color: #fff6f4;
    --secondary-color: #ffa41b;
    --text-color: #525fe1;
}

header,
footer {
    background-color: var(--secondary-color);
    width: 100vw;
    padding: 15px 0;
    color: var(--text-color);
    font-weight: bold;
}

header {
    font-size: 20px;
    border-bottom: 10px solid var(--text-color);
    text-align: center;
}

h1 {
    font-family: 'Playpen Sans', cursive;
}

footer {
    font-size: 16px;
    border-top: 10px solid var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-icon {
    margin-bottom: -4px;
    color: var(--text-color);
    transform: 0.5s;
}

ion-icon:hover {
    transform: scale(1.2);
}

body {
    background-color: var(--main-color);
    font-family: 'Sometype Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

button {
    background-color: var(--text-color);
    font-family: 'Sometype Mono', monospace;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 13px;
    border: 5px solid var(--secondary-color);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    transform: scale(1.1);
    background-color: var(--secondary-color);
}

.options {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

h2 {
    align-self: center;
    font-size: 18px;
}

label[for='row-size'] {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label[for='row-size'] > p {
    align-self: center;
    font-size: 24px;
}

.grid {
    width: 580px;
    height: 580px;
    background-color: #fff;
    border: 10px solid var(--secondary-color);
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.grid-container > p {
    font-size: 30px;
    color: var(--text-color);
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

.square {
    box-sizing: border-box;
    border: 1px solid #adadad;
    border-radius: 10px;
}
